<% @page_title = "melding" %>

<div id="content_l">
<h1>Melding til <%= @app_name %></h1>
<p></p>
<%= render_error_messages @message%>
<% form_for(@message) do |f| %>

<ul class="form_layout">	
	<li><%= f.label :ditt_navn %><%= f.text_field :name %></li>
	<li><%= f.label :din_email %><%= f.text_field :email %></li>
	<li><%= f.label :emne %><%= f.text_field :subject %></li>
	<li><%= f.label :Melding %><%= f.text_area :body %></li>
	<li><label>&nbsp;</label><%= show_simple_captcha(:label => "For å bevise at du er et menneske og ikke en spam robot, må du skrive in koden ovenfor.", :image_style => 'charcoal_grey') %></li>
	<li><label>&nbsp;</label><%= f.submit "Send melding", :class => 'submit' %></li>
</ul>
<% end %>
</div>

<div id="content_r">
	
</div>
