<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="title" content="<%= @app_name %>: <%= @page_title %>"/>
  <meta name="keywords" content="<%= @meta_key %>" /> 
  <meta name="description" content="<%= @meta_des %>" /> 
  <%= auto_discovery_link_tag(:rss, {:controller => "public", :action => "blogg", :title => "Pharosproduksjoner Blogg"}) %>
  <title><%= @app_name %>: <%= @page_title %></title>
  <%= stylesheet_link_tag @css %>
  <%= javascript_include_tag "jquery", "jquery.lightbox-0.5", "application" %>
  <%= stylesheet_link_tag "jquery.lightbox-0.5" %>
</head>
<body>
<div id="content_wrapper">
  <div id="header"><div id="logo"></div>
    <div id="header_wrapper">
    
       
    <%if logged_in?%>
    <div id="logged_in">
      <p>Hei, <%= current_user.first_name %>! Du er innlogget.</p> 
        <%= link_to "Logg ut","/logout" %> | 
        <%= link_to( "Til CMS", view_cms_path) %>
        </div>
      <%end%>

    </div>
  </div>

 
  <%= yield  %>
   
   
  <div id="footer">
      <p>Kontakt Tiril Pharo - telefon 92056833 - adresse Åsheim, 1820 Spydeberg - epost <a href="mailto:Tiril@teatercamp.no">Tiril@teatercamp.no</a></p>
  </div>
</div> 
</body>

</html>
